.home {
    background-image: -webkit-linear-gradient(
            hsla(0, 0%, 100%, 0.5),
            hsla(0, 0%, 100%, 0.5)
        ),
        url(https://ezsofe.com/static/media/bg-stock.93a14fbe.jpg);
    background-image: linear-gradient(
            hsla(0, 0%, 100%, 0.5),
            hsla(0, 0%, 100%, 0.5)
        ),
        url(https://ezsofe.com/static/media/bg-stock.93a14fbe.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-align-content: center;
    align-content: center;
    overflow: hidden;
}
